<!doctype html>
<html>
<head>
    <title>MDB Web Ban List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="flex w-[100%] flex-col flex-wrap">
  <table class="border-collapse border border-gray-400 w-[100%]" role="table">
      <thead>
      <tr>
          <th class="p-5 border border-gray-300">Ban date</th>
          <th class="p-5 border border-gray-300">Ban Type</th>
          <th class="p-5 border border-gray-300">Player</th>
          <th class="p-5 border border-gray-300">mID</th>
          <th class="p-5 border border-gray-300">SteamID</th>
          <th class="p-5 border border-gray-300">Ban Length</th>
          <th class="p-5 border border-gray-300">Banned by</th>
          <th class="p-5 border border-gray-300">Reason</th>
      </tr>
      </thead>
      <tbody>
      {% for item in data %}
      <tr>
          <td class="border border-gray-300 text-center">{{ item.Date }}</td>
          <td class="border border-gray-300 text-center">{{ item.BanType }}</td>
          <td class="border border-gray-300 text-center">{{ item.PlayerName }}</td>
          <td class="border border-gray-300 text-center">{{ item.PlayerId }}</td>
          <td class="border border-gray-300 text-center">{{ item.PlayerSteamId }}</td>
          <td class="border border-gray-300 text-center">{{ item.BanLength }}</td>
          <td class="border border-gray-300 text-center">{{ item.BannedBy }}</td>
          <td class="border border-gray-300 text-center">{{ item.reason }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  <footer class="p-5 flex justify-center w-[100%] space-y-1">
      <p>Web Ban List v1.0.1 developed by <a href="https://facebook.com/riste.dimitrievski.3"  rel="author" target="_blank">Riste Dimitrievski</a> </p>
  </footer>
</body>
</html>